<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>github_url</key>
	<string>https://api.github.com/graphql</string>
	<key>github_token</key>
	<string>3c27b0d7e944cb4ccf86e68278d533a562239fb8</string>
	<key>company</key>
	<string>NA</string>
	<key>author</key>
	<string>Shalom Friss</string>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
